.about_bg {
    background: url('../../Assests/home.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0,0, 0.5);
}

.about_bg{
    color: white;
    display: flex;
    font-size: 45px;
    line-height: 35px;
}

.text_name {
    display: block;
    font-size: 70px;
    line-height: 75px;
    font-weight: 500; 
  }

  .text_content{
    margin-left: 33%;
    margin-top: 17%;
  }


  .button {
    --width: 157px;
    --height: 48px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: rgb(255, 96, 0);
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-top: 30px;
}
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #6c18ff;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  @media (max-width: 576px) {
  
    .text_content {
      margin-left: 25%;
      margin-top: 22%;
  }
  .textSize{
    font-size: 30px;
  }
  }
  
  

  @media (min-width: 577px) and (max-width: 991px) {
    .text_content {
      margin-left: 25%;
      margin-top: 22%;
  }
  .textSize{
    font-size: 30px;
  }
  }


  