.services_content {
  background-image: url('../../Assests/bg3.jpg');
  background-size: contain;
  background-repeat: initial;
  height: 100vh;
  width: 99vw;
}

.card_card {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-top: 52% !important;
  width: 72rem;
}

.text-content_card {
  font-size: 20px;
}

.title_text_card {
  font-size: 26px !important;
  color: black !important;
  font-weight: 500 !important;
  font-family: 'Times New Roman', Times, serif;
}



.Services_content_card {
  margin-top: -3%;
}


.card_card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666b;
}

.card_card p.small {
  font-size: 14px;
}

.go-corner_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 39px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #de1dde;
  border-radius: 0 4px 0 32px;
}

.go-arrow_card {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;

}

.card1_card {
  display: block;
  position: relative;
  max-width: 357px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 204px;
}

.card1_card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: rgb(218, 14, 160);
  height: 52px;
  color: rgb(6, 6, 6) !important;
  width: 42px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;

}

.card1_card:hover:before {
  transform: scale(21);
}

.card1_card:hover p {
  transition: all 0.3s ease-out;
  color: white;
}

.card1_card:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2_card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 299px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2_card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2_card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2_card:hover:before {
  transform: scale(2.15);
}

.card3_card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3_card .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3_card:hover p {
  color: #00838d;
}

.card3_card:hover .go-corner_card {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4_card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4_card .go-corner_card {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4_card .go-arrow_card {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4_card:hover {
  border: 1px solid #cd3d73;
}

.card4_card h3 {
  margin-top: 8px;
}

.card4_card:hover .go-corner_card {
  margin-right: -12px;
}

.card4_card:hover .go-arrow_card {
  opacity: 1;
}


.box1{
  margin-top: 130px;

}
.box1,
.box2 {
  display: flex;
  height: fit-content;
}

/* @media (min-width: 414px) and (max-width: 767px) {

  .box1,
  .box2 {
    flex-direction: column;
    
  }


  .services_content {
    background-image: url(../../Assests/bg3.jpg);
    background-size: contain;
    background-repeat: initial;
    height: 210vh !important;
    width: 99vw;
}
} */


@media (max-width: 576px) {

.services_content {
  background-image: url(../../Assests/bg3.jpg);
    background-size: contain;
  background-repeat: initial;
  height: 100vh;
  width: 100%;
}

.card_card {
  margin-left: 1% !important;
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-top: 52% !important;
  width: 72rem;
}

}