
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* .SkillsContainer_image{
    display: block;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
} */

/* .SkillsContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
} */


.SkillsContainer_text {
    color: rgb(255, 255, 255);
    flex: 0.4 1;
    text-align: left;
    width: 500px;
    margin: 20px;
    padding-bottom: 20px;
    margin-left: 36%;
    margin-top: 12%; 
    position: absolute; 
}

.SkillContainer_SkillSet > h1 {
    font-size: 35px;
    color: rgb(0, 190, 238);
    font-weight: 300;
    padding-bottom: 15px;
    padding-top: 5px;
 
}

.Skills_content{
    height: 100vh;
    width: 99vw;
    background-image: url("../../Assests/skilling.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: auto; */
    box-shadow: inset 0 0 0 2000px rgba(0, 0,0, 0.5);
}

.SkillContainer_SkillSet >h1{
    font-family: "Montserrat",sans-serif;
}
.SkillContainer_slider > .MuiLinearProgress-colorPrimary {
   background-color: rgba(194, 15, 15, 0.979);
}

.SkillContainer_slider1 >span >.MuiLinearProgress-bar{
    background-color: rgb(75, 252, 22);
}

.SkillContainer_slider2 >span >.MuiLinearProgress-bar{
    background-color: rgb(190, 255, 10);
}
.SkillContainer_slider3 >span >.MuiLinearProgress-bar{
    background-color: rgb(252, 227, 7);
}
.SkillContainer_slider4 >span >.MuiLinearProgress-bar{
    background-color: rgba(55, 196, 0, 0.829);
}



/* @media (min-width: 414px) and (max-width: 767px) {
  
    .SkillsContainer_text {
        color: rgb(255, 255, 255);
        flex: 0.4 1;
        text-align: left;
        width: 337px;
        margin: 20px;
        padding-bottom: 20px;
        margin-left: 11%;
        margin-top: 38%;
        position: absolute;
    }

    .Skills_content {
        height: 100vh;
        width: 99vw;
        background-image: url("../../Assests/skilling.jpeg");
        background-position: inherit;
        background-size: cover;
        /* background-repeat: no-repeat; */
        /* background-size: auto; */
      



@media (max-width: 576px) {

    .Skills_content {
        height: 100vh;
        width: 100%;
        background-image: url("../../Assests/skilling.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-size: auto; */
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    }

    .SkillsContainer_text {
        color: rgb(255, 255, 255);
        flex: 0.4 1;
        text-align: left;
        width: 500px;
        margin: 20px;
        padding-bottom: 20px;
        margin-left: 29%;
        margin-top: 12%;
        position: absolute;
    }
}


@media (min-width: 577px) and (max-width: 991px) {

    .Skills_content {
        height: 100vh;
        width: 100%;
        background-image: url("../../Assests/skilling.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-size: auto; */
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    }

    .SkillsContainer_text {
        color: rgb(255, 255, 255);
        flex: 0.4 1;
        text-align: left;
        width: 500px;
        margin: 20px;
        padding-bottom: 20px;
        margin-left: 29%;
        margin-top: 12%;
        position: absolute;
    }
}