/* https://colorhunt.co/palette/000000cf0a0adc5f00eeeeee

000000

CF0A0A

rgb(255, 230, 199) beige

rgb(255, 165, 89)  lite orange

rgb(255, 96, 0)  orange

rgb(69, 69, 69) grey*/

/* .full_body{
    height: 100vh;
    overflow: scroll;
}

.full_body::-webkit-scrollbar{
    display: none;
} */
